[submodule "mruby"]
	path = mruby
	url = https://github.com/mruby/mruby.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "libyaml"]
	path = libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
